@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway&display=swap');

$colors: (
	'primary': #000000,
	'secondary': #9e7474,
	'additional': #d85a5a,
	'light': #ffffff,
);

$fonts: (
	'primary': 'Poppins',
	'secondary': 'Raleway',
);

$font-weights: (
	'regular': 400,
	'medium': 500,
	'bold': 700,
);

$font-sizes: (
	'small': 1rem,
	'normal': 2rem,
	'big': 3rem,
);

$breakpoints: (
	'small': 768px,
	'medium': 992px,
	'large': 1200px,
);
