@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.button {
    @extend %button;
    @include mixins.get-button-color('normal');
    width: 12vw;
    border-radius: 2em;
    padding: 1.2em 0;
    
    &:hover {
        @include mixins.get-button-color('dark');
    }
    
    &--light {
        @include mixins.get-button-color('light');
    }
    
    &--buy {
        @include mixins.get-button-color('dark');
        width: 2vw;
        border-radius: 1em 1em 80% 1.5em;
        padding: 1.5em 1em;
        
        &:hover {
            @include mixins.get-button-color('normal');
        }
    }
}